@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1;
}

h1 {
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-family: 'Noto Serif', Georgia, serif;
  font-weight: 100;
  margin: 0;
  /* border-bottom-style: solid; */
  border-radius: 20%;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1rem;
}

header a {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.card-image {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.491);
  border-radius: 1rem 1rem 0 0;
  height: 250px;
}

.card-art {
  width: 250px;
}

.card-title {
  background-color: #742727;
  color: white;
overflow: hidden;
  height: 200px;
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.card-title h3 {
  font-weight: 300;
}

main {
  display: flex;
  justify-content: center;
}

.detcontainer {
  padding-inline: 25%;
  background-color: antiquewhite;
  flex-direction: column;
  margin: auto;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
}

.read-more {
  text-decoration: none;
  color: rgb(0, 64, 255);
  padding-bottom: 1rem;
  border-radius: 1rem;
  height: 28rem;
}

.read-more:hover {
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.492);
}

.stats {
  text-align: center;
  list-style: none;
}
.ability-scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  text-align: center;
  list-style: none; 
  padding: 0;
}
.stat {
  margin-inline: 1px;
  width: 100px;
  /* border-bottom: solid; */
}
.stat-proficient {
  margin-inline: 10px;
  display: flex;
  justify-content: end;
}
.stat-left {
  margin-inline: 10px;
  display: flex;
  justify-content: start;
}
.stat-center {
  padding-bottom: 30px;
  margin-inline: 10px;
  display: flex;
  justify-content: center;
}

.breakline {
  border-top: #993030;
  border-style: solid;
  border-radius: 50%;
}
.action {
text-align: left;
text-indent: 2rem;
}
.center-title {
  text-align: center;
  padding-top: 2rem;
}
.github {
  width: 20px;
  height: 20px;
}
.embeded-image {
  padding-top: 10px;
  max-width: 250px;
  max-height: 250px;
  mix-blend-mode: multiply;
  border-radius: 20%;
}

@media screen and (min-width: 800px){
  .details-container {
    width: 100%;
    align-items: center;
  }
  .ability-scores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px){
  .ability-scores {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (prefers-color-scheme: dark) {
  body {
      background: rgb(40, 40, 40);
  }
  h1 {
    color: white;
  }
}